.create {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40rem;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  max-width: 40rem;
}
