.button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: #4c9aff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.button:hover {
  background-color: #388de7;
}

.buttonDisabled {
  background-color: #ccc;
  cursor: not-allowed;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: #4c9aff;

  &:hover {
    background-color: #ccc;
  }
}
